<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/lib/bootstrap/css/bootstrap.min.css" async>
    <link rel="stylesheet" type="text/css" href="./assets/lib/font-awesome/css/font-awesome.min.css" async>
    <link rel="stylesheet" type="text/css" href="./assets/lib/slick-1.8.0/slick/slick.css" async>
    <link rel="shortcut icon" type="image/png" href="./assets/images/logo.png"/>

    <title> {{ page_title }}</title>

    <meta property="og:url" content="https://www.unidry.com.vn/khuyen-mai-taisun" />
    <meta property="og:image" content="https://www.unidry.com.vn/khuyen-mai-taisun/assets/images/logo.png" />
    <meta property="og:description" />

    <base href="./">
    
</head>
<body class="body-wrapper">
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    {# <script src="./assets/lib/jquery/jquery.min.js" defer></script> #}
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="./assets/lib/slick-1.8.0/slick/slick.min.js" defer></script>
    <script src="./assets/lib/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="./scripts/index.js" defer></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>


{% block scripts %}
{% endblock %}
</body>
</html>