<div class="taisun">

    <div class="menu-mobile">
        <div class="logo-mobile">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <button class="navbar-toggler">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>   

    <header>
        <a href="#" class="logo">
            <img src="./assets/images/logo.png" alt="logo">
        </a>
        <div class="right">
            <ul class="menu">
                <li>
                    <a link="artical1" href="#">Trang chủ</a>
                </li>
                <li>
                    <a link="artical2" href="#">Thể lệ</a>
                </li>
                <li>
                    <a link="artical3" href="#">Tham gia</a>
                </li>
                <li>
                    <a link="artical4" href="#">Kết quả</a>
                </li>
            </ul>

            <ul class="icon">
                <li>
                    <a href="#"><img src="./assets/images/icon-phone.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="./assets/images/icon-mess.png" alt=""></a>
                </li>
            </ul>
        </div>

    </header>


    <div class="contain">
        <div class="section section1 artical1" id="1">
            <div class="images">
                <img src="./assets/images/bg-1.jpg" alt="bg-1.jpg">
            </div>
        </div>

        <div class="section section2">
            <div class="image-voucher">
                <img src="./assets/images/voucher.png" alt="voucher.png">
            </div>

            <div class="button-info">
                <span> CÁC SẢN PHẨM ÁP DỤNG</span>
            </div>

            <div class="products">
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/product1.png" alt="product1.png">
                    </div>
                    <div class="text">
                        Tã em bé UniDry
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/product2.png" alt="product2.png">
                    </div>
                    <div class="text">
                        Tã người lớn SunMate
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/product3.png" alt="product3.png">
                    </div>
                    <div class="text">
                        Băng vệ sinh SunFree
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="./assets/images/product4.png" alt="product4.png">
                    </div>
                    <div class="text">
                        Khăn giấy ướt UniFresh
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="rules  artical2" id="2">
                <span class="dot dot-top"></span>
                <div class="button-info">
                    <span>THỂ LỆ CHƯƠNG TRÌNH</span>
                </div>
                <div class="steps">
                    <div class="step step-1">
                        <div class="step-left">
                            <div class="step-title">
                                Bước 1
                            </div>
                            <div class="step-des">
                                Bước 1 Khi bạn mua sản phẩm bất kì của Taisun, bạn sẽ nhận được thẻ cào chứa mã số
                            </div>
                        </div>
                        <div class="step-right">
                            <div class="img">
                                <img src="./assets/images/rule1.png" alt="rule1.png">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="step step-2">
                        <div class="step-left">
                            <div class="step-title">
                                Bước 2
                            </div>
                            <div class="step-des">
                                Bước 2 Bạn truy cập website Taisun, điền đầy đủ thông tin cá nhân và mã thẻ cào
                            </div>
                        </div>
                        <div class="step-right">
                            <div class="img">
                                <img src="./assets/images/rule2.png" alt="rule1.png">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="description">
                    Cứ 2 tuần, Taisun sẽ ngẫu nhiên chọn ra 20 khách hàng để trao
                    <b class="font-black">voucher trị giá 200.000 đồng,</b> sử dụng khi mua hàng tại Coop Mart   
                </div>
                
                <div class="details">
                    <div class="detail-content">
                        <ol>
                            <li>
                                Tên chương trình khuyến mãi: Mua sắm liền tay -  Quà ngay mỗi tuần
                            </li>
                            <li>
                               Hàng hóa dịch vụ khuyến mãi: Tất cả các sản phẩm do công ty TNHH Taisun Việt Nam sản xuất: Tã UniDry, Tã người lớn SunMate
                               , khăn ướt Unifresh, băng vệ sinh Sunfree
                            </li>
                            <li>Thời gian khuyến mãi: 01/05/2019 - 30/07/2019</li>
                            <li>
                                Phạm vi khuyễn mãi: Long An, Tiền Giang, Trà Vinh, Vĩnh Long, Đồng Tháp, Bến Tre, Cần Thơ, Hậu Giang, 
                                Bạc Liêu, Tân Châu, An Giang, Kiên Giang, Sóc Trăng, Cà Mau, Đồng Tháp, Tây Ninh, Bình Dương, 
                                Vùng Tàu, Bình Phước, Bình Thuận, Ninh Thuận, Khánh Hòa, Lâm Đồng, Đăk Nông, Đăk Lăk 
                            </li>
                            <li>
                            Hình thức khuyến mãi: Thẻ bốc thăm trúng thưởng
                            </li>
                            <li>
                                Khách hàng của chương trình khuyến mãi: Tất cả các khách hàng tiêu dùng có quốc tịch Việt Nam từ 18 tuổi trở lên 
                                khi mua sản phẩm của công ty TNHH Taisun Việt Nam tại các cửa hàng có chương trình khuyến mãi
                            </li>
                            <li>
                                Cơ cấu giải thưởng: 
                                    <ul>
                                        <li>
                                            Giải thưởng bao gồm:
                                            <ul>
                                                <li>
                                                    120 giải may mắn: Mỗi giải 1 voucher Coop Mart trị giá 200.000 VNĐ
                                                </li>
                                                <li>
                                                    240 giải nhiệt tình: Mỗi giải 1 thẻ điện thoại trị giá 50.000 VNĐ
                                                </li>
                                            </ul>

                                        </li>
                                        <li>Tổng giá trị giải thưởng trong chương trình khuyến mãi là 36.000.000 VNĐ</li>
                                        <li>Lưu ý về giải thưởng:
                                            <ul>
                                                <li>
                                                    Không có giá trị quy đổi thành tiền mặt
                                                </li>
                                                <li>
                                                    Đối với giải nhiệt tình: Giải thưởng áp dụng cho 04 nhà mạng hiện hành gồm Viettel, Mobiphone, Vinaphone và Vietnammobile và được trả thưởng bằng mã thẻ.
                                                </li>
                                            </ul> 
                                        </li>
                                    </ul>
                            </li>
                            <li>
                                Nội dung chi tiết thể lệ chương trình khuyến mãi:
                                <ol>
                                    <li>
                                        Cách thức tham gia chương trình:
                                        <ul style="list-style-type: circle;">
                                            <li>Thời gian phát hành thẻ may mắn từ 01/05/2019 - 15/07/2019</li>
                                            <li>Trong thời gian khuyến mãi, người tiêu dùng mua bất kỳ sản phẩm nào của công ty TNHH Taisun Việt Nam tại các cửa hàng có khuyến mãi sẽ nhận được 1 mã code may mắn với mỗi hóa đơn trên 200.000 VNĐ.</li>
                                            <li>Truy cập vào <a href="/">LinkLandingPage</a> hoặc scan mã QR trên thẻ để nhập thông tin khách hàng gồm: Họ và tên, số điện thoại, số CMND, địa chỉ kèm mã code</li>
                                            <li>Với mỗi mã code chỉ được nhập thông tin một lần.
                                                <ul>
                                                    <li>Đối với giải may mắn: Cứ mỗi 2 tuần, Công ty sẽ chọn ngẫu nhiên 20 khách hàng để trao voucher Coop Mart trị giá 200.000 VNĐ/ giải.</li>
                                                    <li>Đối với giải nhiệt tình: Cứ mỗi 2 tuần, Công ty sẽ chọn ngẫu nhiên 40 khách hàng để trao thẻ cào điện thoại trị giá 50.000 VNĐ/ giải nếu khách hàng bấm vào nút “ chia sẻ ngay” có kèm hình ảnh chụp sản phẩm đã mua lên facebook cá nhân ở chế độ công khai.</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Lưu ý:
                                                <ul>
                                                    <li>
                                                        Những mã số dự thưởng không trúng thưởng ở lần trước sẽ có cơ hội tham gia vào các lần xác định trúng thưởng tiếp theo.
                                                    </li>
                                                    <li>
                                                        Hạn cuối để khách hàng gửi thông tin tham gia chương trình đến hết ngày 15/07/2019.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Quy định về tính hợp lệ của người trúng thưởng

                                        <ul style="list-style-type: circle;">
                                            <li>Người trúng thưởng hợp lệ là người có quốc tịch Việt Nam từ 18 tuổi trở lên. Là chủ sở hữu của thẻ có mã dự thưởng trúng thưởng và có số CMND trùng khớp với số CMND đăng ký khi tham gia chương trình.</li>
                                            <li>Thẻ phải là bản chính do Công ty TNHH Taisun Việt Nam phát hành.</li>
                                            <li>Thẻ phải còn nguyên vẹn, không rách rời, chấp vá. Mã dự thưởng phải rõ ràng, không bị cạo sửa, tẩy xóa, không bị biến dạng khác với quy cách ban đầu.</li>
                                            <li>Công ty TNHH Taisun Việt Nam có quyền từ chối trao giải cho người trúng thưởng không thỏa các điều kiện nhận giải nêu trên.</li>
                                        
                                        </ul>
                                    </li>
                                    <li>
                                        Thủ tục trao giải:
                                        <ul style="list-style-type: circle;">
                                            <li>Sau khi bốc thăm xác định trúng giải, ban tổ chức sẽ liên hệ với khách hàng trong vòng 7 ngày theo thông tin đã cập nhật trên website để nhận giải.</li>
                                            <li>Khách hàng trúng thưởng phải gửi ảnh chứng minh thư và thẻ   đến ban tổ chức để xác định tính hợp lệ của người trúng giải.</li>
                                            <li>Trong vòng 02 tuần, kể từ ngày nhận thông báo trúng thưởng, nếu người trúng thưởng không gửi đầy đủ giấy tờ liên quan thì coi như người trúng giải không có nhu cầu lấy giải thưởng và Công ty TNHH Taisun sẽ không giải quyết những khiếu nại, thắc mắc của người trúng thưởng sau đó.</li>
                                            <li>Giải thưởng sẽ được chuyển trực tiếp đến khách hàng theo thông tin đăng ký tham gia chương trình trên website sau 30 ngày kể từ ngày nhận thông tin đầy đủ từ khách hàng.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Trách nhiệm thông báo<br>
                                Công ty TNHH Taisun Việt Nam có trách nhiệm thông báo đầy đủ chi tiết nội dung của thể lệ chương trình khuyến mãi, giá trị từng loại giải thưởng, danh sách trúng thưởng trên ít nhất 01 phương tiện thông tin đại chúng, 
                                trang Web của công ty và thông báo trực tiếp cho khách hàng trúng thưởng.
                            </li>
                            <li>
                                Các quy định khác
                                <ul style="list-style-type: circle;">
                                    <li>Nhân viên Công ty TNHH Taisun Việt Nam không được tham dự chương trình khuyến mãi này.</li>
                                    <li>Chương trình khuyến mãi này không trao giải và thu tiền mặt tại nhà, không thu lệ phí nhận giải dưới mọi hình thức.</li>
                                    <li>Công ty TNHH Taisun Việt Nam có quyền sử dụng tên và hình ảnh của khách hàng trúng thưởng để phục vụ cho hoạt động quảng cáo thương mại mà không phải trả thêm bất kỳ một khoản chi phí nào.</li>
                                    <li>Công ty TNHH Taisun Việt Nam hoàn toàn chịu trách nhiệm trong việc quản lý khâu in ấn, tính chính xác của phiếu bốc thăm trúng thưởng. Trường hợp phiếu bốc thăm trúng thưởng có sai sót gây hiểu nhầm cho khách hàng trong việc trúng giải thì công ty có trách nhiệm trao những giải thưởng này cho khách hàng.</li>
                                    <li>Trong trường hợp xảy ra tranh chấp liên quan đến chương trình khuyến mãi này, Công ty TNHH Taisun việt Nam có trách nhiệm trực tiếp giải quyết, nếu không thỏa thuận được tranh chấp sẽ được xử lý theo quy định của pháp luật Việt Nam hiện hành.</li>
                                    <li>Mọi thắc mắc liên quan đến chương trình khuyến mại này, khách hàng liên hệ:	<br>
                                            Công ty TNHH Taisun Việt Nam<br>
                                            Địa chỉ:  20 Phan Đình Giót, Phường 2, Quận Tân Bình<br>
                                            Điện thoại: (028)3.547.1031 ~ 6<br>
                                    </li>
                                </ul>
                            </li>
                            
                        </ol>
                    </div>
                </div>
                <span class="dot dot-bottom"></span>
            </div>

        </div>

        <div class="section section3 artical3" id="3">
            <form action="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="button-info">
                            <span>THÔNG TIN CÁ NHÂN</span>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div class="item">
                                    <label>Họ và Tên(*)</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="item">
                                    <label>Số điện thoại(*)</label>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="item">
                                    <label>Chứng minh nhân dân(*)</label>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div class="item">
                                    <label>Địa chỉ(*)</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="item">
                                    <label>Mã code(*)</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="item submit-button">
                                    <label>s</label>
                                    <button class="submit font-black form-control" data-toggle="modal" type="button" data-target="#success">Gửi</button>
                                </div>
                            </div>                            
                        </div>                    
                    </div>
                    
                </div>
            </form>
        </div>

        <div class="section section4 artical4" id="4">
            <div class="content">
                <span class="dot dot-top"></span>
                <span class="dot dot-bottom"></span>
                <span class="tie tie-top"></span>
                <span class="tie tie-bottom"></span>
                <div class="button-info">
                    <span>KẾT QUẢ</span>
                </div>

                <div class="list-client">
                    <ul>
                        <li class="tab show">
                            <div class="title">Danh sách khách hàng may mắn 1/6 - 14/6</div>
                            <div class="tab-content">
                                <ol>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                </ol>
                                <i>.....Xem thêm</i>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="title">Danh sách khách hàng may mắn 15/5 - 31/5</div>
                            <div class="tab-content">
                                <ol>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                </ol>
                                <i>.....Xem thêm</i>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="title">Danh sách khách hàng may mắn 1/5 - 14/5</div>
                            <div class="tab-content">
                                <ol>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                    <li>Pham thi A</li>
                                </ol>
                                <i>.....Xem thêm</i>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-icon" data-dismiss="modal">
                    <img src="./assets/images/close.png" alt="">
                </div>
                <div class="modal-body">
                    <div class="title">
                        <div class="text-1">Mẹ có muốn chia sẻ chương trình</div>
                        <div class="text-2">"Mua sắm liền tay, quà ngay mỗi tuần"</div>
                        <div class="text-3">đến với bạn bè để có cơ hội nhận kèm thẻ cào điện thoại trị giá 50,000 VND?</div>
                    </div>

                    <div class="pull-images">
                        <div class="wrap">
                            <div class="img">
                                <div class="result">
                                    <img id="blah" src="./assets/images/pull-img.png" alt="icon-fb.png">
                                </div>
                                <img id="blah-fake" src="./assets/images/btn-pull-img.png" alt="icon-fb.png">
                            </div>
                            <input type="file" id="imageFile" >
                        </div>
                    </div>

                    <i class="text">
                        Hình chụp sản phẩm đã mua (Không bắt buộc)
                    </i>

                    <div class="share">
                        <img src="./assets/images/icon-fb.png" alt="icon-fb.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>